.LoanDetail_container{
    width: 100%;
    height: 40vw;
}
.icon{
    font-size: 30px;
}
.Apply_container{
    width: 100%;
    height: 35%;
    background-color: cadetblue;
    color: white;
    padding: 1rem;
    display: flex; /* 플렉스 박스 활성화 */
    flex-direction: column; /* 세로로 쌓기 */
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center;
}
.Apply_container_sum{
    width: 60%;
}

.Apply_title{
    font-size: 46px;
    font-weight: 400;
    display: block;
    text-align: left;
}

.Apply_bottom_list{
    display: flex;
}

.Apply_bottom_list_max{
    min-width: 30%;
    display: flex; 
    flex-direction: column; 
    text-align: left;
}

.Apply_bottom_list_max span{
    font-size: 22px;
}

.Apply_bottom_list_max b{
    font-size: 26px;
}

.Apply_bottom_list_rate{
    min-width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.Apply_bottom_list_rate span{
    font-size: 22px;
}

.Apply_bottom_list_rate b{
    font-size: 26px;
}

.Apply_bottom_list_button{
    min-width: 40%;
    display: flex;
    justify-content: end;
}

.Apply_button{
    min-width: 50%;
    height: 100%;
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
    background-color: white;
}
