* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 전체 화면 높이 */
}

.content {
  flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
  padding: 20px; /* 콘텐츠 여백 */
}

.footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px 0;
  position: sticky; /* 스크롤 시에도 최하단에 고정 */
  bottom: 0; /* 하단 고정 */
  left: 0;
  right: 0;
  width: 100%; /* 전체 너비 */
  border-top: 2px solid cadetblue; /* 푸터 상단 경계선 색상 */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1; /* 푸터를 콘텐츠 아래에 위치 */
  margin-top: auto; /* 푸터를 하단에 고정 */
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: black;
  margin: 0 15px;
  text-decoration: none;
}

.footer-links a:hover {
  color: rgb(181, 142, 212);
}
