.AutoTransferList-container {
    width: 100%;
    max-width: 2000px; /* 전체 테이블의 너비를 더 넓게 설정 */
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .AutoTransferList-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto; /* 열 너비를 자동으로 조정 */
  }
  
  .AutoTransferList-table th,
  .AutoTransferList-table td {
    padding: 12px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis; /* 말줄임표 처리 */
  }
  
  .AutoTransferList-table th {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
  }
  
  .AutoTransferList-table td {
    background-color: #fff;
    color: #333;
  }
  
  .AutoTransferList-modify-button,
  .AutoTransferList-cancel-button {
    background-color: #74a1d2;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    display: inline-block;
    width: 90px; /* 버튼 크기를 적절히 확장 */
  }
  
  .AutoTransferList-cancel-button {
    background-color: #74a1d2;
  }
  
  .AutoTransferList-modify-button:hover,
  .AutoTransferList-cancel-button:hover {
    background-color: #5d95d1;
  }
  
  .AutoTransferList-cancel-button:hover {
    background-color: #5d95d1;
  }
  
  .AutoTransferList-table td:last-child,
  .AutoTransferList-table th:last-child {
    text-align: center;
  }
  
  .AutoTransferList-status {
    font-weight: bold;
    color: #28a745;
  }
  