.Carousel_div {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.Carousel_Tab {
  position: relative;
  width: 720px;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
  border: 3px solid #b2c8f5; /* 테두리 색상과 두께 설정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
  background-color: white; /* 배경색을 흰색으로 설정 */
}


.Carousel_Tab img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-caption {
  color: black; /* 글씨 색상을 검정색으로 설정 */
  background-color: rgba(255, 255, 255, 0.7); /* 배경색을 반투명 흰색으로 설정하여 글씨가 잘 보이도록 */
  padding: 10px; /* 텍스트와 배경의 간격을 추가 */
  border-radius: 5px; /* 배경을 둥글게 처리 */
}

.carousel-caption h3 {
  font-size: 1.5em; /* 제목 글씨 크기를 키워서 강조 */
}

.carousel-caption p {
  font-size: 1.2em; /* 본문 글씨 크기를 조절 */
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: 50px; /* 버튼 크기 조정 */
  height: 50px;
  background-color: rgba(120, 169, 201, 0.8); /* 초록색 반투명 배경 */
  border-radius: 50%; /* 원형 버튼 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* 아이콘을 흰색으로 변환 */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 123, 255, 0.8); /* 호버 시 파란색으로 변경 */
}

