.Carousel_div{
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.Carousel_Tab{
    position: relative;
    width: 720px;
    height: 360px;
    overflow: hidden;
    border-radius: 15px;
}

.Carousel_Tab img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .carousel-control-prev, .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
  }

