.RightMenu_div{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RightMenu_div img:hover{
    background-color: #333;
}

.RightMenu_img{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}