/* 챗봇 버튼 스타일 */
.topBtn_wrap {
  position: fixed;
  bottom: 20px; /* X 버튼이 화면 하단에 고정되도록 설정 */
  right: 20px;
  z-index: 1001; /* z-index 값을 높게 설정하여 버튼이 항상 보이도록 */
}

.topBtn {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}


.topBtn:hover {
  background-color: #0056b3; /* 버튼 hover 시 색상 변화 */
}

/* 모달 오버레이 */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* 챗봇 모달 스타일 */
.chatbotModal {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 850px; /* 너비를 400px로 증가 */
  height: 600px; /* 높이를 600px로 증가 */
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

/* 챗봇 헤더 */
.chatbotHeader {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #74a1d2;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: bold;
  font-size: 18px;
}

.chatbotHeader .chatbotIcon {
  margin-right: 10px;
}

/* 챗봇 바디 */
.chatbotBody {
  flex-grow: 1;
  padding: 20px;
  background-color: #f8f9fa;
  overflow-y: auto;
}

/* 채팅 메시지 스타일 */
.messageContainer {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.botMessage {
  background-color: #dceaf1;
  color: #333;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  text-align: left;
}

.userMessage {
  background-color: #bbe4f7;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  text-align: right;
  margin-left: auto; /* 사용자 메시지를 오른쪽 정렬 */
}

/* 챗봇 푸터 */
.chatbotFooter {
  display: flex;
  padding: 15px;
  background-color: #f1f1f1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.chatbotFooter input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 14px;
  background-color: #f9f9f9;
}

.chatbotFooter button {
  background-color: #74a1d2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.chatbotFooter button:hover {
  background-color: #5d95d1;
}

