/* 검색창 스타일 */
.SearchBar-container {
  display: flex;
  align-items: center;
}

.SearchBar-form {
  display: flex;
  transition: width 0.3s ease;
  width: 0;
  overflow: hidden;
}

.SearchBar-form.active {
  width: 300px;
}

.SearchBar-input {
  border: 2px solid #74a1d2;
  padding: 8px;
  width: 100%;
  border-radius: 5px 0 0 5px;
}

.SearchBar-button {
  background-color: #74a1d2;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
