.AdSavingsProduct-container {
  display: flex;
}

.AdSavingsProduct-main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

.AdSavingsProduct-product-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.AdSavingsProduct-search-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.AdSavingsProduct-search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.AdSavingsProduct-search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.AdSavingsProduct-search-bar select, 
.AdSavingsProduct-search-button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #74a1d2;
  color: white;
  cursor: pointer;
}

.AdSavingsProduct-register-button {
  padding: 10px 15px;
  background-color: #74a1d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.AdSavingsProduct-edit-button {
  padding: 5px 10px;
  background-color: #74a1d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.AdSavingsProduct-delete-button {
  padding: 5px 10px;
  background-color: #74a1d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.AdSavingsProduct-table {
  width: 100%;
  border-collapse: collapse;
}

.AdSavingsProduct-table th, 
.AdSavingsProduct-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.AdSavingsProduct-table th {
  background-color: #f2f2f2;
}

.AdSavingsProduct-table tr:hover {
  background-color: #f1f1f1;
}

.AdSavingsProduct-table td {
  white-space: nowrap;
}

.AdSavingsProduct-pagination-controls {
  margin-top: 15px; /* 페이지 네이션과 표 사이의 간격 */
  display: flex;
  justify-content: flex-end; /* 우측 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.AdSavingsProduct-pagination-controls label {
  margin-right: 10px; /* label과 select 사이의 간격 */
}

.AdSavingsProduct-pagination-controls select {
  margin-left: 10px;
  padding: 5px;
}

/* 페이지 네이션 스타일 */
.AdSavingsProduct-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px; /* 페이지 번호 간격 */
}

.AdSavingsProduct-pagination button {
  background-color: #74a1d2;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.AdSavingsProduct-pagination button:hover {
  background-color: #5f8bb2;
}

.AdSavingsProduct-pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.AdSavingsProduct-pagination .active {
  background-color: #5f8bb2;
  font-weight: bold;
}