.tax-edit-form {
  width: 80%;
  margin: 0 auto;
}

.tax-edit-month-select-container,
.tax-edit-category-select-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.month-select, .category-select {
  font-size: 1.5rem;
  padding: 10px;
  margin-left: 10px;
}

.table-bordered {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width:200px;
}

.summary-table {
  margin-bottom: 20px;
}

.input-field{
  width:200px;
}




/* 수정 버튼과 돌아가기 버튼 스타일 */
.edit-button, .return-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.edit-button:hover, .return-button:hover {
  background-color: red;
}

/* 생성 버튼과 취소 버튼 스타일 */
.submit-button, .cancel-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover, .cancel-button:hover {
  background-color: red;
}

