/* 전체 컨테이너 스타일 */
.DetailRate-container {
    text-align: center;
    min-height: 100vh;
    position: relative;
    padding-top: 50px; /* 컨테이너를 아래로 내리기 위한 여백 */
    padding-bottom: 100px; /* 푸터와의 공간 유지 */
}

/* 제목 스타일 */
.DetailRate-title {
    font-size: 20px;
    margin-bottom: 10px;
}

/* 로딩 메시지 스타일 */
.DetailRate-loading {
    font-size: 16px;
    color: #555;
}

/* 테이블 스타일 */
.DetailRate-table {
    margin: 10px auto;
    width: 85%; 
    font-size: 16px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.DetailRate-table thead {
    background-color: #74a1d2;
    color: white;
    font-size: 16px;
}

.DetailRate-table th, .DetailRate-table td {
    padding: 6px;
    border: 1px solid #ddd;
    text-align: center;
}

.DetailRate-table td img {
    width: 45px;
    height: 34px;
}

/* 드롭다운 스타일 (살 때, 팔 때 버튼 크기 줄이기) */
.DetailRate-dropdown {
    display: block;
    margin: 20px auto; 
    padding: 6px 8px; /* 패딩을 줄여 버튼 크기 축소 */
    font-size: 14px; /* 폰트 크기 유지 */
    width: 20%; /* 너비를 더 줄여서 컴팩트하게 */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 페이지네이션 버튼 스타일 */
.DetailRate-pagination {
    margin-top: 10px;
}

.DetailRate-pagination button {
    margin: 0 3px;
    padding: 7px 12px;
    background-color: #f2f2f2;
    color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.DetailRate-pagination button.active {
    background-color: #74a1d2;
    color: white;
}

.DetailRate-pagination button:hover {
    background-color: #d1d1d1;
}

/* 뒤로가기 버튼 스타일 */
.DetailRate-backButton {
    margin-top: 10px;
    margin-bottom: 80px;
    padding: 8px 12px;
    background-color: #74a1d2;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.DetailRate-backButton:hover {
    background-color: #5d95d1;
}

/* 푸터 스타일 */
.DetailRate-footer {
    width: 100%;
    margin: 0 auto;
}
