.App {
  text-align: center;
  min-width: 1920px; /* 최소 너비 설정 */
  max-width: 1920px;
}

.Main_firts_Menu{
  display: flex;
}

.Carouesl_Main {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.Menu_bar{
  margin-top: 2rem;
}

.Board_main{
  min-height: 300px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}


